

.xpick {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #a8bfc9;
}

.xpick img {
  width: 25%;
  filter: brightness(0) saturate(100%) invert(12%) sepia(16%) saturate(1415%) hue-rotate(157deg) brightness(94%)
    contrast(89%);
}

.opick {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opick img {
  width: 25%;
  filter: brightness(0) saturate(100%) invert(79%) sepia(44%) saturate(116%) hue-rotate(153deg) brightness(90%)
    contrast(82%);
}

.opick:hover {
  background-color: #1F3641;
  border: 10px solid #1A2A33;
}

.opick:hover img {
  width: 17%;
}

@media screen and (min-width: 768px) {

.xpick img, .opick img {
    width: 15%;
}

}
